body {
  font-family: 'Times New Roman', Times, serif 
  min-height: 400px;
  background-color: #000000;
  background-size: 199vh;
  background-repeat: no-repeat;
  background-image: url("https://w.wallhaven.cc/full/49/wallhaven-49eed1.jpg");
}
h1.ap{
  color: whitesmoke;
  text-shadow: 4px 3px black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif
}
p.ps{
  color:#08F375;
  text-align: center;
  text-shadow: 4px 2px  darkblue;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
 color: #D0DD1D;
 font-size: 25px;
 font-family: 'Courier New', Courier, monospace;
 text-shadow: 3px 1px black

 
}
input{
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
 padding: 3px;

  
  
}
button.c{
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  background: rgb(86, 160, 141);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateX(+725px);
  margin-top: -1.4%;
  color: cyan;
  padding: 5px;

}



.b{
  top: 20px;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #F60206; 
  text-shadow: 3px 2px black;
  margin-top: auto;
  margin-left: -15%;
  display: block;
  transform: translateY(+100px);