@charset "UTF-8 pt-br";

h1{
    color: #800000;
    background-color: #daa520;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;

}

h2{
    color: #800000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    text-align: justify;
}
a{
    align-content: center;
    text-align: center;
}